<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px;" *ngIf="!(restaurants.filteredData.length > 0)">
  <h1>
    No Restaurants Available Yet
  </h1>
  <h2>
    <mat-icon>
      filter_drama
    </mat-icon>
  </h2>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="main_layout" *ngIf="restaurants.filteredData.length > 0">
  <mat-form-field style="width:80%;margin-top: 50px;" >
    <input type="text" matInput placeholder="Search Restaurant" (keyup)="applyFilterRestaurant($event.target.value)">
  </mat-form-field>
  <!-- {{restaurants.filtred.length}} -->
  <table mat-table style="width:80%;" [dataSource]="restaurants" class="mat-elevation-z8">
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="" [color]="statuses[element.status].class">
            {{ statuses[element.status].status }}
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>reorder items</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="saveRestaurant(element)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteRestaurant(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="restaurantDisplayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: restaurantDisplayedColumns;"></tr>
  </table>
</div>

<div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px;" *ngIf="!(users.filteredData.length > 0)">
  <h1>
    No Users Available Yet
  </h1>
  <h2>
    <mat-icon>
      filter_drama
    </mat-icon>
  </h2>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="main_layout" *ngIf="users.filteredData.length > 0">
  <mat-form-field style="width:80%;margin-top: 50px;" >
    <input type="text" matInput placeholder="Search User" (keyup)="applyFilterUser($event.target.value)">
  </mat-form-field>
  <!-- {{restaurants.filtred.length}} -->
  <table mat-table style="width:80%;" [dataSource]="users" class="mat-elevation-z8" >
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email ID </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
  </table>
</div>