<h2 mat-dialog-title>Delete?</h2>
  <mat-dialog-content  fxLayout="column">
    Are you sure, you want to delete <span style="font-weight: bold;">{{ data.restaurant['name'] }}</span>?
  </mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false">Cancel</button>
    <button mat-button (click)="deleteRestaurant()">Delete</button>
</mat-dialog-actions>