<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign Up</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <!-- <mat-card>
                <mat-card-header>
                    error here                    
                </mat-card-header>
            </mat-card> -->
            <mat-form-field >
                <input matInput placeholder="Name" [(ngModel)]="params.name">
            </mat-form-field>
            <mat-form-field >
                <input matInput placeholder="Email" [(ngModel)]="params.email">
            </mat-form-field>
            <mat-form-field >
                <input type="password" matInput placeholder="password" [(ngModel)]="params.password">
            </mat-form-field>
            <mat-form-field >
                <input type="password" matInput placeholder="confirm password" [(ngModel)]="confirmPassword">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button routerLink="/auth">Go Back to, Sign In</button>
            <button mat-raised-button [disabled]="!(params.password == confirmPassword)" color="primary" (click)="signup()">Sign Up</button>
        </mat-card-actions>
    </mat-card>
</div>