<h2 mat-dialog-title>Save Restaurant</h2>
<mat-dialog-content  fxLayout="column" >
  <mat-form-field *ngFor="let saveRestaurantField of saveRestaurantFields" [ngClass]=" saveRestaurantField.hide ? 'hideElement' : '' ">
    <input [type]="saveRestaurantField.type" matInput [placeholder]="saveRestaurantField.placeholder" [(ngModel)]="saveRestaurantField.model" >
  </mat-form-field> 
    <mat-list>
    <mat-list-item fxLayout="column" >
      <mat-card *ngFor="let hour of hours" >
        <mat-card-title fxLayout="column">
          <span>
            {{ hour.day }}
          </span>
          <button mat-icon-button color="accent" (click)="addSlot(hour)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-content>
          <mat-list fxLayout="column">
            <mat-list-item *ngFor="let slot of hour.slots" >
              <input matInput type="time" [(ngModel)]="slot[0].time" (change)="test(slot[0])" >
              <input matInput type="time" [(ngModel)]="slot[1].time" (change)="test(slot[1])" >
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="false">Cancel</button>
  <button mat-button (click)="saveRestaurant()">Save</button>
</mat-dialog-actions>

<!-- <h2 mat-dialog-title>Delete?</h2>
<mat-dialog-content  fxLayout="column">
    Are you sure, you want to delete <span style="font-weight: bold;"></span>?
  </mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false">Cancel</button>
    <button mat-button >Delete</button>
</mat-dialog-actions> -->