<div style="position:fixed;height:{{screenHeight}}px;width:{{screenWidth}}px;background-color: rgba(0,0,0,0.4);z-index:1000000;top:0px;left:0px;" *ngIf="loading">
    <app-fulfilling-square-spinner style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)" 
      [animationDuration]="4000"
      [size]="60"
      [color]="'#ff1d5e'">
    </app-fulfilling-square-spinner>
</div>