<h2 mat-dialog-title>Delete?</h2>
  <input [ngxTimepicker]="picker">
  <ngx-material-timepicker #picker></ngx-material-timepicker>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false">Cancel</button>
    <!-- <button mat-button (click)="deleteRestaurant()">Delete</button> -->
</mat-dialog-actions>