<mat-toolbar color="primary">
    <span>Junky</span>
    <span class="new-spacer"></span>
    <button mat-raised-button color="accent" (click)="saveRestaurant(null)">
      <mat-icon>
        add
      </mat-icon>
      Add Restaurant
    </button>
    <button mat-icon-button aria-label="Menu" [matMenuTriggerFor]="menu">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
</mat-toolbar>
<router-outlet>
</router-outlet>