<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h1 style="font-weight: bold;">
                    Sign In
                </h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            <mat-form-field >
                <input matInput placeholder="Email" [(ngModel)]="params.email">
            </mat-form-field>
            <mat-form-field >
                <input type="Password" matInput placeholder="password" [(ngModel)]="params.password">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button routerLink="auth/signup">Don't have account, Sign Up</button>
            <button mat-raised-button color="primary" (click)="signin()">Sign In</button>
        </mat-card-actions>
    </mat-card>
</div>